* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: #212121;
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.wrapper {
    padding-top: 25px;
    padding-bottom: 20px;
    position: fixed;
    background-color: #6532ff;
    width: 100vw;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
    text-align: center;
}

input {
    position: relative;
    width: 22vw;
    padding: 12px 0 12px 16px;
    border: 1px solid rgba(255, 255, 255, 0.674);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    background-color: transparent;
    font-size: 1em;
}

input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.btn {
    background: #f4f3f8;
    position: absolute;
    width: 44px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5px;
    border: 1px solid #6532ff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-icon {
    fill: currentColor;
    margin-bottom: 7px;
    margin-right: 6px;
}

.btn:hover,
.btn:focus {
    background: #3610A6;
    color: rgb(255, 255, 255);
}

.gallery-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}

.gallery,
.info {
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    margin-left: -20px;
    padding-top: 110px;
    justify-content: center;
}

.gallery-link {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 320px;
    flex-basis: calc((100% - 80px) / 4);
    border: 2px solid rgb(241, 238, 238);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
}

.gallery-link:hover,
.gallery-link:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gallery-item-img {
    display: block;
    height: 30vh;
    object-fit: cover;
}

.info {
    padding: 10px;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.info-item:not(:first-child) {
    margin-left: 5px;
}

.info-item > span {
    font-weight: 700;
}

.btn-load-more.is-hidden {
    display: none;
}

.btn-load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: 12px;
    margin: 25px auto 0 auto;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6532ff;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    font: inherit;
    color: white;
    cursor: pointer;
}

.btn-load-more-icon {
    margin-left: 5px;
    fill: currentColor;
}

.btn-to-top {
    position: fixed;
    bottom: 3vh;
    right: 1vw;
    z-index: 1000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #6532ff;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    color: white;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.btn-to-top::after {
    content: url('../img/top.png');
    position: absolute;
    bottom: 7px;
}

.btn-to-top--visible {
    opacity: 1;
    visibility: visible;
}

.btn-load-more:hover,
.btn-to-top:hover {
    background-color: #3610A6;
    transition: all 0.3s;
}